.tasks {
	padding: 0;
	counter-reset: tasks;
}

.task {
	margin: 10px;
	padding: 5px;
	border: 3px solid green;
	border-radius: 10px;
	list-style-type: none;
	background: #f2a286;
 }

.task:before {
	counter-increment: tasks;
	content: counter(tasks)". ";
	margin-right: 10px;
}